<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% if page.name == "index.html" %}
      {{ site.title }}{% if site.description %} &middot; {{ site.description }}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
    </title>
    <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/stylesheet.css' | relative_url }}">
    <!-- <link rel="stylesheet" href="https://use.typekit.net/mgn3fya.css"> -->
  </head>
  <body class="container">
    <header class="site-header">
      <a href="{{ site.baseurl }}" class="text-dark">{{ site.title }}</a>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="site-footer">
      <small>Except as otherwise noted, the content of this page is licensed under the Creative Commons Zero v1.0 Universal License.</small>
    </footer>
  </body>
</html> 
